@import url("../fonts/fonts.css");

html{scroll-behavior: smooth;}
html, body{font-family: "Janna-LT-Regular"}

h1,h2,h3,h4,h5,h6{
	font-family: "Janna-LT-Bold";
}

a{
	text-decoration: none;
	font-family: "Janna-LT-Regular";
	color: #101729;
	transition: all 300ms ease;
}

a:hover{
	text-decoration: none;
	color: #288793;
}
 
p{
	font-size: 20px;
	font-family: "Janna-LT-Regular";
	color: #101729;
}

ul{}
ul>li{
	font-size: 20px;
	font-family: "Janna-LT-Regular";
}

div{
	font-family: "Janna-LT-Regular";
}

.fnt-10 {font-size: 10px !important;}
.fnt-12 {font-size: 12px !important;}
.fnt-15 {font-size: 15px !important;}
.fnt-18 {font-size: 18px !important;}
.fnt-20 {font-size: 20px !important;}
.fnt-25 {font-size: 25px !important;}
.fnt-30 {font-size: 30px !important;}
.fnt-40 {font-size: 40px !important;}
.fnt-50 {font-size: 50px !important;}
.fnt-60 {font-size: 60px !important;}
.fnt-70 {font-size: 70px !important;}
.fnt-80 {font-size: 80px !important;}
.fnt-100 {font-size: 100px !important;}
.fnt-120 {font-size: 120px !important;}

.fnt-uppercase {text-transform: uppercase !important;}

// .fnt-trans{font-family: "Zain"}

[class^="spacer-"]{display: block;}
.spacer-5 {height: 5px;}
.spacer-10 {height: 10px;}
.spacer-20 {height: 20px;}
.spacer-30 {height: 30px;}
.spacer-40 {height: 40px;}
.spacer-60 {height: 60px;}
.spacer-80 {height: 80px;}
.spacer-100 {height: 100px;}
.spacer-120 {height: 120px;}

.forceDir{
	display: inline-block;
	direction: ltr;
    text-align: right;
}
.preAnimate {
    opacity: 0;
    position: relative;
    top: 100px;
    transition: all 1000ms ease;
}
.animateThis {
    opacity: 1;
    position: relative;
    top: 0px;
    transition: all 1000ms ease;
}
.preSlideAnimate{
	position: absolute;
	opacity: 0;
	top: 0;
	right: 0;	
	transition: all 1000ms ease;
}
.slideThis{

	position: relative;
	opacity: 1;
	top: 0;
	left: 0;	
	transition: all 1000ms ease;

}
.preZoom{
	transform-origin: center center;
	will-change: transform;
    transition: all 1000ms ease;
}
.zoomThis{transform: scale(1.2);}
.of-hidden{overflow: hidden;}

.bg-full {
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.bg-yellow{background-color: #FEBD17;}
.bg-white{background-color: #fff;}
.bg-blue{background-color: #8095E4;}

.vh-100-min{min-height: 100vh;}

.fnt-black{color: #101729;}
.fnt-white{color: #fff;}
.fnt-green{color: #288793;}
.fnt-orange{color: #E03C1B;}
.fnt-gray{color: #231F20;}
.fnt-yellow{color: #FEBD17;}

#main-navigation{

	position: relative;
	z-index: 1;
	width: 100%;

	.navbar-brand{

		margin: 0px;

		.logo, .hide{
			opacity: 0;
			position: absolute;
		}

		.show{
			opacity: 1;
			position: unset;
		}		
	
	}

	.nav-item{
		padding-left: 1rem;
		padding-right: 1rem;
	}
	.nav-link{
		font-family: "Janna-LT-Bold";
		font-size: 14px;
		color: #101729;
		transition: all 500ms ease;
	}
	.nav-link:hover{
		color: #fff;
	}

	.nav-link.active{
		color: #000;
	}

	.desktop-view{

		.navbar-top{
			background-color: #FEBD17;

			.nav-item{
				font-size: 12px;
				padding: 0px;
			}

			.dropdown-item{
				font-size: 12px;
			}
		}

		.fixed-top{padding-top: 3rem;}

		.navbar-bottom{
			background-color: transparent;
			transition: all 500ms ease;

			.nav-link{
				font-size: 14px;
				color: #fff;
				transition: all 500ms ease;
			}

			.nav-link:hover{
				color: #000;
			}


		}

	.scrolled{
			background-color: #FEBD17;
			padding-top: 0.5rem;
			transition: all 500ms ease;


			.nav-link{
				font-size: 14px;
				color: #000;
				transition: all 500ms ease;
			}

			.nav-link:hover{
				color: #fff;
			}

			.nav-link.active{
				color: #fff;
			}

			.btn-transparent{
				font-size: 14px;
			    border-radius: 3rem;
			    color: #000 !important;
			    border: 2px solid #000;
			    background-color: transparent;
			    transition: all 300ms ease;
			}

			.btn-transparent:hover{
			    color: #fff !important;
			    border: 2px solid #000;
			    background-color: #000;
			}

		
		}
	}

	.mobile-view{

		.btn-menu-mobile{
		    border: none;
		    width: auto;
		}

		.navbar-brand{
			.mobile-logo{
				max-width: 50%;
			}
		}

		.mobile-top-menu{
			position: fixed;
			min-width: 100%;
			padding: 1rem;
			background-color: transparent;
			transition: all 500ms ease;			
		}

		.mobile-top-menu.scrolled{
			background-color: rgba(0, 0, 0, 0.8);			
		}

		.offcanvas{
			background-color: #000;
		}


	}

}

.nav-light{
	.desktop-view{
		.navbar-bottom{
			.nav-link {
	    		color: #000 !important;
			}			
			.nav-link:hover {
	    		color: #FEBD17 !important;
			}
		}
	}
}

.hideThis{display: none !important;}
.remMar{margin: 0px;}
.remPad{padding: 0px;}
.fa-mar-5{margin-left: 5px;}
.fa-mar-10{margin-left: 10px;}
.posRel{position: relative;}
.posAbs{position: absolute;}

.btn-grn{
	border-radius: 0px;
	color: #fff;
	background-color: #288793;
	transition: all 300ms ease;
}
.btn-grn:hover{
	color: #fff;
	background-color: #101729;
}
.btn-transparent{
	font-size: 14px;
    border-radius: 3rem;
    color: #fff !important;
    border: 2px solid #fff;
    background-color: transparent;
    transition: all 300ms ease;
}
.btn-link{
	padding: 10px 16px;
	text-decoration: none;
}
.btn-transparent:hover{
    color: #000 !important;
    border: 2px solid #FEBD17;
    background-color: #FEBD17;
}
.btn-yellow{
	font-size: 14px;
    border-radius: 3rem;
    color: #fff !important;
    border: 2px solid #FEBD17;
    background-color: #FEBD17;
    transition: all 300ms ease;
}
.btn-yellow:hover{
    color: #fff !important;
    border: 2px solid #fff;
    background-color: transparent;
}
.btn-yellow-wht{
	font-size: 14px !important;
    border-radius: 3rem !important;
    color: #fff !important;
    border: 2px solid #FEBD17 !important;
    background-color: #FEBD17 !important;
    transition: all 300ms ease;
}
.btn-yellow-wht:hover{
    color: #000 !important;
    border: 2px solid #000 !important;
    background-color: transparent !important;
}

.btn-yellow-blk{
	font-size: 14px !important;
    border-radius: 3rem !important;
    color: #000 !important;
    border: 2px solid #FEBD17 !important;
    background-color: #FEBD17 !important;
    transition: all 300ms ease;
}
.btn-yellow-blk:hover{
    color: #000 !important;
    border: 2px solid #000 !important;
    background-color: transparent !important;
}

.btn-pink{
	font-size: 14px;
    border-radius: 3rem;
    color: #fff !important;
    border: 2px solid #F94680;
    background-color: #F94680;
    transition: all 300ms ease;
}
.btn-pink:hover{
    color: #fff !important;
    border: 2px solid #fff;
    background-color: transparent;
}

.btn-nav{
	margin: 0 1rem;
}

[data-scroll-container] {
  transform-style: preserve-3d;
  will-change: transform;
}

section{
	font-family: "Janna-LT-Regular";

	.section-title{
		font-family: "Janna-LT-Regular";
		font-size: 80px;
		line-height: 1;
		text-transform: uppercase;
	}
} 

footer{

	p{color:#fff;}
	h5{
		color:#fff;
		font-size: 20px;
		font-weight: bold;
	}
	.nav-link{
		color: #fff;
		transition: all 300ms ease;
	}

	.nav-link:hover{
		color: #000;
		transition: all 300ms ease;
	}	

	.footer-top{

		.nav-link{
			font-size: 20px;
		    padding-right: 0px;
		}

		.subscribe{
			.form-control{
			    background-color: #FEBD17;
			    border: 2px solid #FEBD17;
			    border-radius: 3rem;
			}
			.btn-subs{
				background-color: #FEBD17;
			    border: 2px solid #FEBD17;
			    border-radius: 3rem;
			    transition: all 300ms ease;

			    i{
					width: 37px;
					height: 37px;
					color: #000;
					border: 2px solid #000;
					border-radius: 50%;
					font-size: 20px;
					display: table-cell;
					text-align: center;
					vertical-align: middle;
					transition: all 300ms ease;
			    }
			}

			.btn-subs:hover{
				i{
					border: 2px solid #fff;
					color: #fff;
				}
			}
		}

		#social{
			.nav-item{
				margin-bottom: 1rem;
			}
			.nav-link{
				display: table-cell;
				width: 37px;
				height: 37px;
				padding: 0;
				text-align: center;
				vertical-align: middle;
				background-color: #FEBD17;
			    border-radius: 50%;
			    color: #fff;
			    border: 2px solid #FEBD17;
	    		transition: all 300ms ease;
			}
			.nav-link:hover{
				color: #fff;
				border: 2px solid #fff;
				background-color: transparent;
			}
		}


	}	

	.footer-bottom{

		.nav-link, .copyright, p{
			font-size: 14px;
		    padding-bottom: 0px;
		}
		p{margin-bottom: 0px;}		

	}

}

// .icon-float:after{
// 	content: "";
// 	display: inline-block;
// 	width: 7rem;
// 	height: 7rem;
// 	background-repeat: no-repeat;
// 	position: absolute;
// 	right: 10rem;
// 	top: -24px;
// }

.icon-float{
	position: relative;
	width: fit-content;
}
.icon-float:before{
	content: "";
    background-repeat: no-repeat;
	position: absolute;
	inset: 0;
    background-position: 2% center;
    transform: scaleX(1);
    z-index: -1; 
}

.icon-flower:before{
	background-image: url(../img/icons/flower.png);
}
.icon-fireworks:before{
	background-image: url(../img/icons/fireworks.png);
}
.icon-fireworks-white:before{
	background-image: url(../img/icons/fireworks-white.png);
}
.icon-heart:before{
	background-image: url(../img/icons/heart.png);
}
.icon-thread:before{
	background-image: url(../img/icons/thread.png);
	background-size: auto;
}

#ads-list{
	position: relative;

	.item{
		position: relative;
		.caption{
		  position: absolute;
		  top: 50%;
		  left: 50%;
		  transform: translate(-50%, -50%);
		  width: 100%;

		  h2{
		  	color: #fff;
		  	font-size: 80px;
		  }

		}
	}
	
}

#offer{
	.content{

		.item{

			position: relative;
			overflow: hidden;
			border: 2px solid #000;
			border-radius: 3rem;

			box-shadow: 1px 10px 9px 0px rgba(0,0,0,0.26);
			-webkit-box-shadow: 1px 10px 9px 0px rgba(0,0,0,0.26);
			-moz-box-shadow: 1px 10px 9px 0px rgba(0,0,0,0.26);	
			

			.img{
				border-radius: 3rem;
				position: relative;

			}
			.caption{

				position: absolute;
				width: 100%;
				top: 2rem;
				text-align: center;

				h3{
					font-size: 20px;
					color: #000;
				}

			}
		}
		.item-center{
			z-index: 2;
		}

		.item-left{
			transform: rotate(350deg);
			z-index: 1;
		    top: 6rem;
		    left: 2rem;
		}

		.item-right{
			transform: rotate(-350deg);
			z-index: 1;
		    top: 6rem;
		    right: 2rem;
		}	

	}
}

#about{
	video{
		border-radius: 5rem;
		overflow: hidden;
		
	}
}

#difference{
	.difference-cards{
		position: relative;

		.item{
			position: relative;

			.img{
				position: relative;
			}

			.caption{
			    position: absolute;
			    top: 1rem;
			    width: 100%;
			    padding: 0px 1rem 0px 6rem;

				p{
					font-size: 25px;
					line-height: 1.2;
				}

			}
		}
	
	}
}

#store{

	.store-tabs{

		#storeTab{
			border-bottom: none;

			.nav-link{
				border: none;
				font-size: 14px;
			    border-radius: 3rem;
			    color: #000 !important;
			    border: 2px solid #FFE6F2;
			    background-color: #FFE6F2;
		        margin-left: 1rem;
		           transition: all 300ms ease;
			}
			.nav-link:hover,
			.nav-link.active{
				border: 2px solid #FEBD17;
				background-color: #FEBD17;
			}
		}

		#storeTabOther{

			.nav-link{
				border: none;
				font-size: 14px;
			    border-radius: 3rem;
			    color: #000 !important;
			    border: 2px solid #FFE6F2;
			    background-color: #FFE6F2;
		        margin-left: 1rem;
		           transition: all 300ms ease;
			}
			.nav-link:hover,
			.nav-link.active{
				border: 2px solid #FEBD17;
				background-color: #FEBD17;
			}


		}
	}

	.store-prods{

		.tab-pane{
			position: relative;

			.item{
				position: relative;
				border-radius: 3rem;

				a{
					.img{
						img{
							transform: scale(1.0);
							transition: all 300ms ease;							
						}

					}
				}

				a:hover{
					.img{
						img{
							transform: scale(1.2);							
						}
						
					}
				}

				.img{
					position: relative;
					border-radius: 3rem;
					overflow: hidden;
					border: 2px solid #000;
				}

				.action{
					position: absolute;
				    top: 1rem;
				    left: 1rem;

				    .action-icon{

				    	img{margin-bottom: 0.5rem;}

				    }
				}

				.caption{
					h3{font-size: 20px;}
					p{font-size: 18px;};
				}

			}
		}

	}
}

#tesimony-list{

	.owl-carousel .owl-stage {
 		transition-timing-function: linear !important;
	}	

	.item{

		img{
			border: 2px solid #000;
			border-radius: 50%;
		}

		.testi-name{
			font-size: 20px;
			font-weight: bold;
			margin-bottom: 0px;
		}

		.caption{
			font-size: 20px;
		}
	}
}

#join-list{

	.owl-carousel .owl-stage {
 		transition-timing-function: linear !important;
	}

}

#ticker-list{
	p{
		font-size: 14px;
		margin-bottom: 0px;
	}
}

#about-banner{
	.about-bottom{
		img{
			border-radius: 3rem;
		}
	}
}


.border-radiused{border-radius: 3rem;}

.about-social{

		.nav-item{margin: 0 7px;}
		.nav-link{
			display: table-cell;
			width: 37px;
			height: 37px;
			padding: 0;
			text-align: center;
			vertical-align: middle;
			background-color: #8095E4;
		    border-radius: 50%;
		    color: #fff;
		    border: 2px solid #8095E4;
    		transition: all 300ms ease;
		}
		.nav-link:hover{
			color: #fff;
			border: 2px solid #fff;
			background-color: transparent;
		}	

}

#about-offer-list{

	.owl-item.center{
		transform: scale(1);
		z-index: 2;  
		transition: all 300ms ease;

		.caption{
			.details{
				display: block;
				transition: all 300ms ease;
			}
		}
	}	

	.owl-item{
		transform: scale(0.8);
		z-index: 1;
	  	transition: all 300ms ease;

		.caption{
			.details{
				display: none;
				transition: all 300ms ease;
			}
		}
	}

	.item{

		.img{
			border-radius: 3rem;
			overflow: hidden;
			border: 2px solid #000;				
			box-shadow: 1px 10px 9px 0px rgba(0,0,0,0.26);
			-webkit-box-shadow: 1px 10px 9px 0px rgba(0,0,0,0.26);
			-moz-box-shadow: 1px 10px 9px 0px rgba(0,0,0,0.26);					

		}
		.caption{

			h3{
				font-size: 20px;
				color: #000;
			}

		}
	}	

}

#features{

	.item{

		position: relative;

		.img{
			position: relative;
		}

		.caption{
			position: absolute;
			top: 0;
		    width: 100%;
		    padding: 10%;			

			p{font-size: 22px;}
		}

	} 
}

#contact-form{
	.form-control{
		min-height: 82px;
		text-align: right;
		border: 1px solid #000;
		vertical-align: middle;
		border-radius: 13px;
		padding-right: 1.5rem;
	}

	textarea{padding-top: 4.5%;}

}

.contact-details{
	.fa-solid{color: #8095E4;}
	ul{
		li{
	    	margin-left: 5rem;

		};
	}
}

.product-details{

	.product_title.entry-title{display: none;}

	.desc-title{
		font-size: 22px;
		width: 100%;
		background-color: #FDB7D9;
		padding: 1rem;
		border-radius: 7px;
		text-transform: capitalize;
	}
}

.woocommerce-product-gallery__trigger{display: none;}

.my-account-menu{

	background-color: #8095E4;
	border-top-left-radius: 2rem;
	border-bottom-left-radius: 2rem;
	padding: 2rem 0rem 2rem 2rem;
	
	ul{
		list-style: none;
		li{

			a{
				color: #fff;
				transition: all 300ms ease;
			}

			a:hover{
				color: #FEBD17;
				transition: all 300ms ease;
			}

		}

	}
}

#edit-account-form{

	.form-control{
		min-height: 82px;
		text-align: left;
		border: 1px solid #000;
		vertical-align: middle;
		border-radius: 13px;
		padding-left: 1.5rem;
	}

}

.btn-form-submit{padding: 1rem 4rem !important;}