#main-navigation{

	position: relative;
	width: 100%;
	z-index: 1;

	.desktop-view{
		.nav-transparent{
			background-color: transparent;
		    padding: 1.5rem 0;
		    border-bottom: 0.5px solid transparent;
		    transition: all 300ms ease;
		}
		.nav-transparent.scrolled{
			background-color: rgba(0, 0, 0, 0.6);
			border-bottom: 0.5px solid rgba(255, 255, 255, 0.6);
		    padding: 1.5rem 0;
		}
		.nav{
			.nav-link{
				font-size: 14px;
				font-weight: 200;
				color: #fff;
				transition: all 300ms ease;
			}
			.nav-link:hover{
				font-weight: bold;
			}

			
		}
	}

}